# Dependencies
node_modules/

# Environment variables
.env
.env.*
!.env.example

# Build output
dist/

# Prisma generated client
/src/generated/prisma

# Logs
*.log
npm-debug.log*

# TypeScript
*.tsbuildinfo

# Coverage
coverage/
